SERVER_PORT=5100
WEBSOCKET_PORT=5101
UPLOADS_PATH=/app/uploads
USER_REPORT_HOST=192.168.1.100
USER_REPORT_PORT=5200
REPORTS_PATH=/app/reports
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=pass
